extends ../_template

mixin popular-slider__card(pic, title, price)
  .popular-slider__card
    .popular-slider__img
      img(src="assets/img/popular-slider-" + pic + ".jpg" alt="picture")
      label.popular-slider__compare
        input(type='checkbox')
        span
          | В сравнение
          svg(width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 2.33333L3.8 5L8 1" stroke-width="2")

    .popular-slider__title #{title}
    .popular-slider__descr Характеристика 1: 220 Вт
    .popular-slider__descr Характеристика с очень длинным названием: 220 Вт
    .popular-slider__price
      span #{price}
      span ₽

    .popular-slider__footer
      a(href="#").popular-slider__basket В корзину
      .popular-slider__counter
        include ../elements/counter

mixin popular-slider__card-sale(pic, title, priceNew, priceOld)
  .popular-slider__card
    .popular-slider__img
     .popular-slider__sale-labels
       .popular-slider__sale-label
         span Хит продаж
       .popular-slider__sale-label
         span Спец цена
     img(src="assets/img/popular-slider-" + pic + ".jpg" alt="picture")
     label.popular-slider__compare
        input(type='checkbox')
        span
          | В сравнение
          svg(width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 2.33333L3.8 5L8 1" stroke-width="2")

    .popular-slider__title #{title}
    .popular-slider__descr Характеристика 1: 220 Вт
    .popular-slider__descr Характеристика с очень длинным названием: 220 Вт
    .popular-slider__price
      .popular-slider__price-new
        span #{priceNew}
        span ₽
      .popular-slider__price-old
        span #{priceOld}
        span ₽

    .popular-slider__footer
      a(href="#").popular-slider__basket В корзину
      .popular-slider__counter
        include ../elements/counter

block variables
  - var title           = 'Магнитные сверлильные станки Euroboor | Kerner'
  - var description     = 'Магнитные сверлильные станки Euroboor | Kerner'
  - var ogtitle         = 'Магнитные сверлильные станки Euroboor | Kerner'
  - var ogimage         = 'assets/img/social.jpg'
  - var pageHeaderTitle = 'Магнитные сверлильные станки Euroboor'

block content
  .main-wrap.page
    include ../sections/headers/header
    include ../sections/headers/header-mobile
    include ../sections/catalog-menu

    //begin content
    main.main
      include ../sections/under-header
      include ../sections/info-line

      .category
        .container
          include ../sections/headers/pages-header-selection
        .container
          include ../sections/filter-aside
          include ../sections/filter-aside-mobile
          include ../sections/filter-aside-mobile-category-menu
          include ../sections/filter-aside-mobile-sorted

          //begin category__body.category-body
          .category__body.category-body
            include ../elements/category-popular-filter
            include ../elements/category-sort-filter
            include ../elements/mobile-filter

            //begin category-body__list
            .category-body__list
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
              .popular-slider__item
                +popular-slider__card('04', 'Магнитный сверлильный станок FE Powertools 36 X', '35 900')
              .popular-slider__item
                +popular-slider__card-sale('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000', '53 000')
              .popular-slider__item
                +popular-slider__card('04', 'Магнитный сверлильный станок FE Powertools 36 X', '35 900')
              .popular-slider__item
                +popular-slider__card('05', 'Магнитный сверлильный станок SCY-32HD "Cayken"', '38 000')
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
              .popular-slider__item
                +popular-slider__card-sale('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000', '53 000')
              .popular-slider__item
                +popular-slider__card('04', 'Магнитный сверлильный станок FE Powertools 36 X', '35 900')
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
              .popular-slider__item
                +popular-slider__card('04', 'Магнитный сверлильный станок FE Powertools 36 X', '35 900')
              .popular-slider__item
                +popular-slider__card('05', 'Магнитный сверлильный станок SCY-32HD "Cayken"', '38 000')
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
              .popular-slider__item
                +popular-slider__card('04', 'Магнитный сверлильный станок FE Powertools 36 X', '35 900')
              .popular-slider__item
                +popular-slider__card('01', 'Магнитный электрический сверлильный станок COMMANDO', '48 000')
            //end category-body__list

            //begin category-body__pagination
            .category-body__pagination
              include ../elements/pagination
            //end category-body__pagination
          //end category__body.category-body
    //end content

    include ../sections/footer-top
    include ../sections/footer

  include ../sections/scripts
